.vis-graph-group2 {
  fill: red;
  stroke: red;
}

.vis-graph-group0 {
  fill: black;
  stroke: black;
}

.vis-graph-group1 {
  fill: green;
  stroke: green;
}

#twitter {
  margin-top:-5px;
  width:40px;
  height:40px;
}
